body {
	background-color: coral;
	width: 800px;
	margin: auto;
  overflow: auto;
}
h4 {
  font-weight: normal;
}
#consumicion, #selection {
	display: inline-block;
}

#selection {
	margin-left: 0.7%;
	margin-right:0.7%;
}

#products {
	margin-left: 5px;
	float: left;
	width: 40%;
}

#prices {
	float: left;
	width: 40%;
}
.product{
  float:left;
  clear:both;
}
.price{
  float:left;
}
.priceAndButton{
  clear:both;
}
.removeButton{
  float:right;
  margin-top: 20px;
  margin-right: 50%;
}
.total{
  clear:both;
  font-weight: bold;
}