<body>
	<h2 style="text-align:center"> COMANDA: </h2>
	<p id="consumicion">Consumición: </p> 
    <select name="selectComida" [(ngModel)]='cod_product'>
      <option *ngFor='let producto of productos; let i=index' value="{{producto[1]}}">{{producto[0]}} ({{precioProductos[i]}}€)</option>
    </select>
    <input type="button" value="+" (click)='add()'>
	<h3> Consumiciones: </h3>
	
  <div id="products">
    <p><u>Producto</u></p>
    <h4 *ngFor="let consumicion of consumiciones" class="product"> {{consumicion[0]}} </h4>
  <h4 class="total">Total:</h4>
  </div>
  <div id="prices">
    <p><u>Precio</u></p>
    <div class="priceAndButton" *ngFor="let consumicion of consumiciones; let i=index">
      <h4  class="price"> {{precioProductos[consumicion[1]]}}€ </h4>
      <input class="removeButton" type="button" value="-" (click)='remove(i)'>
    </div>    
  <h4 class="total"> {{total}}€ </h4>
  </div>
</body>
