<ion-header>
  <ion-toolbar>
    <ion-title>
      Medicitas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header>
      <ion-card-title>¡Gestiona ahora tus citas médicas!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Con Medicitas obtendras un servicio rápido y al alcance de tu mano. Podras seguir en tiempo real cuanto falta para tu cita, no pierdas el tiempo esperando colas.</p>
    </ion-card-content>
      <ion-button (click)="navigateToPatient()" expand="block" fill="solid">Iniciar como paciente</ion-button>
      <ion-button expand="block" fill="solid">Iniciar como médico</ion-button>
      <ion-checkbox></ion-checkbox>
      <p id="condiciones">He leído y acepto los términos y condiciones de uso</p>
</ion-content>
