ion-title {
  align-content: center;
}

ion-button {
  --background: #57CDD7;
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
}
ion-checkbox {
  --border-radius: 50%;
  margin-left: 17%;
  margin-top: 10%;
  margin-right: 5%;
  --size: 20px;
  float:left;
}
#condiciones {
  margin-top: 10%;
}
